{% extends 'base.html.twig' %}

{% block title %}Association index{% endblock %}

{% block body %}
    
    <header class="masthead bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 text-center">
          <button class="button" style="width: 350px; font-size: 22px;"><b>SERVIZI OFFERTI</b></button>
        </div>
      </div>
    <div class="row">
        <div class="col-lg-6 mb-12 mb-lg-0">
            <div class="card">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <b style="font-size: 22px; margin-bottom: 20%; align: center;">Consegna spesa a domicilio</b>
                        {% for association in associationsDelivery %}
                        <div class="row">
                            <div class="col-12 col-md-4">{{ association.name }}</div>
                            <div class="col-12 col-md-8"><input type="text" readonly value="{{ association.phone }} {{ association.contactNotes }}" style="width: 100%"></div>
                        </div>
                        {% endfor %}
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-12 mb-lg-0">
            <div class="card">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <b style="font-size: 22px; margin-bottom: 20%; align: center;">Consegna farmaci a domicilio</b>
                        {% for association in associationsDrug %}
                        <div class="row">
                            <div class="col-12 col-md-4">{{ association.name }}</div>
                            <div class="col-12 col-md-8"><input type="text" readonly value="{{ association.phone }} {{ association.contactNotes }}" style="width: 100%"></div>
                        </div>
                        {% endfor %}
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mb-12 mb-lg-0">
            <div class="card">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <b style="font-size: 22px; margin-bottom: 20%; align: center;">Baby sitter per operatori sanitari</b>
                        {% for association in associationsBabySitter %}
                        <div class="row">
                            <div class="col-12 col-md-4">{{ association.name }}</div>
                            <div class="col-12 col-md-8"><input type="text" readonly value="{{ association.phone }} {{ association.contactNotes }}" style="width: 100%"></div>
                        </div>
                        {% endfor %}
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-12 mb-lg-0">
            <div class="card">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        <b style="font-size: 22px; margin-bottom: 20%; align: center;">Altri servizi</b>
                        {% for association in associationsOther %}
                        <div class="row">
                            <div class="col-12 col-md-4">{{ association.name }}</div>
                            <div class="col-12 col-md-8"><input type="text" readonly value="{{ association.phone }} {{ association.contactNotes }}" style="width: 100%"></div>
                        </div>
                        {% endfor %}
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        {% for key,singlelegend in shopLegend %}
            <div class="col-lg-12 mb-12 mb-lg-0">
                <button class="button-2" type="button" data-toggle="collapse" data-target="#card{{ key }}" aria-expanded="false" aria-controls="collapseExample">
                    <b>{{ singlelegend }}</b> <p><i class="fas fa-arrow-circle-down"></i></p>
                </button>
                <div class="collapse" id="card{{ key }}">
                    {% for singleshop in shop %}
                        {% if singleshop.shopType.id == singlelegend.id %}
                            <div class="card card-body">
                                <blockquote class="blockquote mb-0">
                                    <div class="row">
                                        <div class="col-12 col-md-4">{{ singleshop.name }}</div>
                                        <div class="col-12 col-md-8">{{ singleshop.phone }} {{ singleshop.address }} {{ singleshop.municipality }}</div>
                                    </div>
                                </blockquote>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    </div>  
    </header>
{% endblock %}
