{% extends 'base.html.twig' %}

{% block title %}Association index{% endblock %}

{% block body %}
    
    <header class="masthead bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 text-center">
          <button class="button" style="width: 350px; font-size: 22px;"><b>SERVIZI OFFERTI</b></button>
        </div>
      </div>
    <div class="row">
        <div class="col-lg-6 mb-12 mb-lg-0">
            <div class="card">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        {% for association in associationsDelivery %}
                        <div class="row">
                            <div class="col-12 col-md-4">{{ association.name }}</div>
                            <div class="col-12 col-md-8"><input type="text" readonly value="{{ association.phone }} {{ association.contactNotes }}" style="width: 100%"></div>
                        </div>
                        {% endfor %}
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-12 mb-lg-0">
            <div class="card">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        {% for association in associationsDrug %}
                        <div class="row">
                            <div class="col-12 col-md-4">{{ association.name }}</div>
                            <div class="col-12 col-md-8"><input type="text" readonly value="{{ association.phone }} {{ association.contactNotes }}" style="width: 100%"></div>
                        </div>
                        {% endfor %}
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 mb-12 mb-lg-0">
            <div class="card">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        {% for association in associationsBabySitter %}
                        <div class="row">
                            <div class="col-12 col-md-4">{{ association.name }}</div>
                            <div class="col-12 col-md-8"><input type="text" readonly value="{{ association.phone }} {{ association.contactNotes }}" style="width: 100%"></div>
                        </div>
                        {% endfor %}
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mb-12 mb-lg-0">
            <div class="card">
                <div class="card-body">
                    <blockquote class="blockquote mb-0">
                        {% for association in associationsOther %}
                        <div class="row">
                            <div class="col-12 col-md-4">{{ association.name }}</div>
                            <div class="col-12 col-md-8"><input type="text" readonly value="{{ association.phone }} {{ association.contactNotes }}" style="width: 100%"></div>
                        </div>
                        {% endfor %}
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    </div>  
    </header>
{% endblock %}
