{% extends 'base.html.twig' %}

{% block title %}Volunteer index{% endblock %}

{% block body %}
    <header class="masthead">
    <div class="container">
    <h1>Volunteer index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Indirizzo</th>
                <th>Comune</th>
                <th>Provincia</th>
                <th>Telefono</th>
                <th>Note di contatto</th>
                <th>Sito internet</th>
                <th>Email</th>
                <th>Destinatari</th>
                <th>Servizio</th>
                <th>Altri servizi</th>
                <th>azioni</th>
            </tr>
        </thead>
        <tbody>
        {% for association in associations %}
            <tr>
                <td>{{ association.name }}</td>
                <td>{{ association.address }}</td>
                <td>{{ association.municipality }}</td>
                <td>{{ association.country }}</td>
                <td>{{ association.phone }}</td>
                <td>{{ association.contactNotes }}</td>
                <td>{{ association.website }}</td>
                <td>{{ association.email }}</td>
                <td>{{ association.serviceUsers }}</td>
                <td>{{ association.service }}</td>
                <td>{{ association.otherService }}</td>
                <td>
                    <a href="{{ path('association_show', {'id': association.id}) }}">show</a>
                    <a href="{{ path('association_edit', {'id': association.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </header>
{% endblock %}
